
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary"></i> Employee</div>
            </div>
        </div>

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i> Vacation</div>
            </div>
        </div>

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i> Overtime</div>
            </div>
        </div>

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-hospital text-warning"></i> Doctor</div>
            </div>
        </div>

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-x-octagon text-info"></i> Sanctions</div>
            </div>
        </div>

        <div class="col-lg-2" style="cursor:pointer;">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-stack text-dark"></i> Departments</div>
            </div>
        </div>

    </div>
</div>

@code {

}
