@using Client.ApplicationStates
@implements IDisposable
@inject IDialogService DialogService
@inject DepartmentState departmentState

@if (departmentState.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">General Department</h4>
                        <FluentButton Appearance="Appearance.Neutral" Color="Green"
                                      OnClick="@OpenDialog" class="float-end">
                            <i class="bi bi-plus-circle-dotted"></i> 
                            Add Deaprtment
                        </FluentButton>
                    </div>
                    <div class="card-header">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                        <td>twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<GeneralDepartmentDialog @ref="generalDepartmentDialog" />

@code{
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartmentDTO Department = new();

    protected override void OnInitialized(){
        departmentState.GeneralDepartmentAction += StateHasChanged;
    }

    async void OpenDialog()
    {
        await DialogService.ShowDialogAsync<GeneralDepartmentDialog>(generalDepartmentDialog, new DialogParameters()
            {
                Height = "400px",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
            });
    }

    public void Dispose(){
        departmentState.GeneralDepartmentAction -= StateHasChanged;
    }
}
