@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService dialogService

<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">

    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header> Add Department</Header>
        <Content>
            <EditForm Model="Department" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <InputText @bind-Value="Department.Name" class="form-control"/>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save"/>
    </DialogButtons>

</SfDialog>

@code {
    [Parameter]
    public GeneralDepartmentDTO Department { get; set; } = new();
    private bool IsVisible { get; set; } = false;

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async void Save()
    {
        if (string.IsNullOrEmpty(Department.Name))
            await dialogService.AlertAsync("You need to private Department name.", "Alert!");
    }
}
