@inherits LayoutComponentBase

<div class="continer-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider/>

<style>
    body{
        background: url('images/background/authBack.jpg') no-repeat center center fixed;
        background-size: cover;
        background-size: cover;
    }
</style>