@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a class="btn btn-none text-danger" @onclick="LogoutClicked">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a class="btn btn-none" href="identity/account/login">Login</a>
                    <a class="btn btn-none" href="identity/account/register">Register</a>
                </NotAuthorized>
            </AuthorizeView>            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
